<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="login" value="jarowa" />
    <add key="password" value="SzogunSzogun21@!" />
    <add key="downloadsPath" value="C:\Users\pawel.wicher\Downloads\" />
    <add key="workingPath" value="C:\Users\pawel.wicher\Desktop\PCA\" />
    <!--<add key="downloadsPath" value="C:\Users\jarowa\Downloads\" />
    <add key="workingPath" value="C:\Users\jarowa\Desktop\PCA_tool\Raw_data\" />-->
    <add key="pcaTabIndex" value="7" />
    <add key="allPCAsIndex" value="5" />
    <add key="queryIndex" value="4" />
    <add key="pcaHistoryTabIndex" value="3" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>